/* message espace membre  */
.alert-danger {
    background-color: #ff0000;
    border-color: #000000;
    color: #ffffff;
    padding: 15px;
    margin: 25px;
    font-weight: bold;
    border: 1px solid transparent;
    height: auto;
    width: 30%;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}
.alert-success {
    background-color: #67c741;
    border-color: #000000;
    color: #ffffff;
    padding: 15px;
    margin: 25px;
    font-weight: bold;
    border: 1px solid transparent;
    height: auto;
    width: 30%;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}
.formulaire{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.formulaire h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ffffff;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.formulaire input[type="text"],
.formulaire input[type="date"],
.formulaire input[type="datetime"],
.formulaire input[type="email"],
.formulaire input[type="number"],
.formulaire input[type="search"],
.formulaire input[type="time"],
.formulaire input[type="url"],
.formulaire input[type="password"],
.formulaire textarea,
.formulaire select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.formulaire textarea{
	resize:none;
	overflow: hidden;
}
.formulaire input[type="button"], 
.formulaire input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.formulaire input[type="button"]:hover, 
.formulaire input[type="submit"]:hover {
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
@media screen and (max-width: 960px){
    




    /* message espace membre  */
    .alert-danger {
        
        padding: 10px;
        margin: 20px;
        width: 100%;
    }
    .alert-success {
        
        padding: 10px;
        margin: 20px;
        width: 100%;
    }
    
}

@media screen and (max-width: 567px){


    .alert-danger {
        
        padding: 10px;
        margin: 20px;
        width: 100%;
    }
    .alert-success {
        
        padding: 10px;
        margin: 20px;
        width: 100%;
    }
    
    
}